<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{ form_start(form) }}
{{ form_row(form.username, { 'label' : 'Nom d\'utilisateur' }) }}
{{ form_row(form.password, { 'label' : 'Mot de passe' }) }}
{{ form_label(form.emails) }}
{{ form_row(form.emails.0, { 'label' : 'Principal' }) }}
{{ form_row(form.birthdate, { 'label' : 'Date de naissance' }) }}
<input type="submit" />
{{ form_end(form) }}
</body>
</html>
